<div class="container background py-5" id="about">
  <h2 class="text-center text-danger custom-font">About</h2>
  <hr class="w-25 mx-auto" />
  <div class="container col-9">
    <div class="row ms-auto align-items-center pt-5">
      <div class="col-md-5 col-sm-12 ">
        <img src="assets/img/1.jpg" alt="Profile Image" class="img-fluid rounded-circle border" width="230px">
      </div>
      <div class="col-md-7 col-sm-12">
        <p>
          I'm Ritesh, a Web developer with 1.5 years of experience at
          <a href="http://www.innovativedatasolutions.in/" target="_blank">Innovative Data
            Solutions</a>.
          I hold a degree of BSc in Information Technology and have completed a <b>Java Full Stack Course</b> from
          <a href="https://www.anudip.org/" target="_blank">Anudip Foundation</a>.
        </p>
        <div class=" mt-3">
          <a href="assets/CV/ritesh_gupta_6394965034.pdf" download class="btn btn-outline-primary">Download CV</a>
        </div>
        
      </div>
    </div>
  </div>
</div>