<div class="container py-5" id="projects">
  <h2 class=" my-4 text-center text-danger custom-font">Projects</h2>
  <hr class="w-25 mx-auto" />
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border">
        <img
          src="https://images.unsplash.com/photo-1588580000645-4562a6d2c839?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGxpYnJhcnl8ZW58MHx8MHx8fDA%3D"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title ">Book Management</h5>
          <p class="card-text">The Book Management System is a management of book Developed using the Spring Boot
            framework, this system provides features for creating, updating, and deleting book records.</p>
          <div class="class text-center">
            <a href="https://github.com/lucifer6334/Book_management_system" target="_blank"
              class="btn btn-outline-danger">Code</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border">
        <img
          src="https://media.istockphoto.com/id/547204026/photo/collection-of-womans-summer-clothing.webp?s=170667a&w=0&k=20&c=Ronkjn3wifcrj37qu_W7msXGTyr2oJoLVBRkNzLIsCo="
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Product Management</h5>
          <p class="card-text">The Spring Boot Product Management System is a backend application developed using the
            Spring Boot framework for handling product-related environment.</p>
          <div class="class text text-center">
            <a href="https://github.com/lucifer6334/Product_Management_System" target="_blank"
              class="btn btn-outline-danger">Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border">
        <img
          src="https://images.unsplash.com/photo-1523474253046-8cd2748b5fd2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YW1hem9ufGVufDB8fDB8fHww"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Amazon Clone</h5>
          <p class="card-text">The Amazon Home Page Clone is a web development project With sections for product
            recommendations, featured deals, and a search bar by using just "Html and Css".</p>
          <div class="col text-center">
            <a href="https://github.com/lucifer6334/Amazon_clone" target="_blank"
              class="btn btn-outline-danger">Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border">
        <img
          src="https://images.unsplash.com/photo-1588964895597-cfccd6e2dbf9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGZvb2QlMjBkZWxpdmVyeXxlbnwwfHwwfHx8MA%3D%3D"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Food Ordering System</h5>
          <p class="card-text">A Food Management System is designed to streamline and optimize various aspects of
            managing
            food-related operations user can manage orders getting bills.</p>
          <div class="col text-center">
            <a href="https://github.com/lucifer6334/lab_assignment_food_ordering_system" target="_blank"
              class="btn btn-outline-danger">Code</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>