<div class="container pt-5" id="contact">
    <h2 class="text-center custom-font text-danger">Contact</h2>
    <hr class="w-25 mx-auto" />
    <div class="row my-5">
        <div class="col-md-6 ">
            <h4 class="custom-font">Get in Touch</h4>
            <p>For any queries, please contact:</p>
            <div class="icons">
                <div class="d-flex">
                    <i class="footericon bi bi-person-fill"></i>
                    <div class="ms-2">
                        <span>Name</span>
                        <p class="sub">Ritesh gupta</p>
                    </div>
                </div>
                <div class="d-flex">
                    <i class="footericon bi bi-geo-alt-fill"></i>
                    <div class="ms-2">
                        <span>Address</span>
                        <p class="sub">Mumbai, India</p>
                    </div>
                </div>
                <div class="d-flex">
                    <i class="footericon bi bi-envelope-fill"></i>
                    <div class="ms-2">
                        <span>Email</span>
                        <p class="sub">riteshguptajob@gmail.com</p>
                    </div>
                </div>
                <div class="d-flex">
                    <i class="footericon bi bi-telephone-fill"></i>
                    <div class="ms-2">
                        <span>Phone</span>
                        <p class="sub">+91 6394965034</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h4 class="m-0 custom-font">Message me</h4>
            <form>
                <div class="row">
                    <div class="col my-3">
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                            required="required">
                    </div>
                    <div class="col my-3">
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                            required="required">
                    </div>
                    <div class="col-12 my-3">
                        <input type="email" class="form-control" placeholder="Email" aria-label="email"
                            required="required">
                    </div>
                    <div class="col-12 my-3">
                        <textarea class="form-control" aria-label="With textarea" placeholder="leave a comment"
                            required="required"></textarea>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger">Submit</button>
            </form>
        </div>
    </div>
</div>

<footer>
    <span>Created By Ritesh Gupta |<span class="bi bi-c-circle-fill"></span>2021 All rights reserved.</span>
    <div class="m-3">
        <a href="https://github.com/lucifer6334?tab=repositories" target="_blank"><i
                class="contacticon1 bi bi-github m-2"></i></a>
        <a href="https://www.linkedin.com/in/ritesh-gupta-51aa36210/" target="_blank"><i
                class="contacticon2 bi-linkedin m-2"></i></a>
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new" target="_blank"> <i
                class="contacticon3 bi-envelope-fill m-2"></i></a>
    </div>
</footer>