<div class="container-fluid text-center py-5" id="certificate">
  <h2 class="text-center text-danger custom-font">Certificate</h2>
  <hr class="w-25 mx-auto" />


  <div class="container">
    <div class="row  text-center">
      <div class="col-lg-6 col-md-12 mb-4">
        <img src="assets/certificate/udemy java.jpg" class="rounded border" alt="..." width="430px">
      </div>
      <div class="col-lg-6 col-md-12 mb-4">
        <img src="assets/certificate/wordpress.jpg" class="rounded border" alt="..." width="430px">
      </div>
    </div>
  </div>
</div>