
<div class="container py-5 background" id="skills">
    <h1 class="text-center text-danger custom-font pt-5">Skills</h1>
    <hr class="w-25 mx-auto" />
    <div class="row justify-content-center">
        <div class=" border p-3 col-md-3 col-sm-12">
            <h2 class="text-center text-danger custom-font fw-bold">Frontend</h2>
            <ul class="list-unstyled text-center fw-bold">
                <li>Html</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>Angular</li>
                <li>JavaScript</li>
            </ul>
        </div>

        <div class="col-md-6 border p-4">
            <h2 class="text-center text-danger custom-font fw-bold">Backend</h2>
            <ul class="list-unstyled text-center fw-bold">
                <li>Java</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="col-md-6 border p-4">
            <h2 class="text-center text-danger custom-font fw-bold">Database</h2>
            <ul class="list-unstyled text-center fw-bold">
                <li>Mysql</li>
                <li>Mongo DB</li>
            </ul>
        </div>

        <div class="col-md-6 border p-4">
            <h2 class="text-center text-danger custom-font fw-bold">Tool</h2>
            <ul class="list-unstyled text-center fw-bold">
                <li>VS Code</li>
                <li>Java Eclipse</li>
            </ul>
        </div>
    </div>
</div>